@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 7.3rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Rowdies", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  address {
    font-style: normal;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
}
p {
  margin-bottom: 10px;
}

@layer components {
  .container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
  }
}
input:focus {
  border-color: theme("colors.brand-default");
  outline: none;
}
input::placeholder {
  color: #a18268;
  font-size: 16px;
  line-height: 1.17;
}

@layer utilities {
  .no-scroll-bar {
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
